body {
  margin: 0;
  background: #e5e5e5;
}

.Container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 85vh;
  border-bottom-left-radius: 80px;
}

a:link { text-decoration: none; }

.logo {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #6070ff;
}

.Mylogo {
  display: flex;
  justify-content: space-between;
  margin-left: 21px;
  margin-right: 36px;
  padding-top: 30px;
}

.Hambu-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.img {
  background-image: url(background.png);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom-left-radius: 80px;
}

.bio {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  min-width: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  min-width: 90%;
}

#title {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex-grow: 0;
  margin-top: 70px;
  margin-right: 20px;
  height: 150px;
  width: 327px;
}

#paragraph {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex-grow: 0;
  margin-top: -20px;
  margin-bottom: -10px;
}

#connect {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
}

.bottom-icons ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 16px;
}

.bottom-icons li {
  padding: 10px;
}

.bottom-icons img {
  height: 20px;
}

.cards {
  box-sizing: border-box;
  display: grid;
  background: #e5e5e5;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 114px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
}

.project1 {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 30px;
  flex-direction: column;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe1e6;
  border-radius: 16px;
}

.tonic-title {
  display: flex;
  justify-content: end;
  margin-left: -24px;
}

.tonic-title h2 {
  width: 295px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex-grow: 0;
  margin-top: 0;
  margin-left: 19px;
  margin-bottom: 0;
}

.tonic-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-left: 14px;
  padding-left: 7px;
  padding-right: 80px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tonic-span {
  color: #344563;
}

.tonic-p {
  color: #7a869a;
}

.project-p {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 0;
  margin-top: -20px;
  width: 295px;
  height: 76px;
  margin-bottom: 5px;
}

.skills {
  display: flex;
  width: 100%;
}

.skills ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 140px;
  padding-left: 20px;
}

.skills li {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px;
  background: #ebebff;
  border-radius: 8px;
}

.see {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 34px;
  margin-bottom: 20px;
}

.see-project {
  display: flex;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #6070ff;
  border-radius: 8px;
  background: #fff;
}

.project-btn {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #fff;
}

.see-project :hover {
  cursor: pointer;
}

.resume {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 24px;
  margin-bottom: 20px;
}

.resume-btn {
  display: flex;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #6070ff;
  border-radius: 8px;
  background: #fff;
}

.resume-btn :hover {
  cursor: pointer;
}

.get-btn {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  border-top-right-radius: 80px;
  background: #fff;
}

#title2 {
  margin-top: 114px;
  width: 380px;
  height: 101px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  padding-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#paragraph2 {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-left: 24px;
  line-height: 24px;
  color: #344563;
  flex-grow: 0;
  margin-top: -20px;
}

#connect2 {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
}

.arrows {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 90%;
  margin-left: 10px;
  margin-right: 20px;
}

.arrows * {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.languages {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: -30px;
}

.languages-content {
  display: flex;
  flex-direction: row;
  background: #f7f7f9;
  padding: 13px;
  border-radius: 8px;
  margin-right: 24px;
  margin-left: -10px;
  margin-top: 10px;
}

.languages-content p {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-left: 20px;
}

.arrows img {
  width: 14px;
  height: 12px;
  left: 5px;
  top: 8px;
}

#arrow-box {
  border-bottom: 1px solid #dfe1e6;
  margin-top: -40px;
}

#arrow-top {
  border-bottom: 1px solid #dfe1e6;
}

#footer {
  background: white;
}

.flex {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  background-image: url(/background/contact\ form\ shapes-mobile@2x.png);
  background-size: 60%;
  background-position: top 21px right -20px;
  justify-content: center;
  background-repeat: no-repeat;
  border-top-left-radius: 80px;
  padding-top: 100px;
  padding-left: 24px;
  padding-right: 24px;
}

.flex h2 {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.flex p {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin-top: 0;
}

.flex form {
  display: flex;
  flex-direction: column;
}

.flex form ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.flex form li > input {
  width: 90%;
  padding: 15px;
  border-radius: 8px;
  border-style: none;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.flex form li > textarea {
  width: 90%;
  padding: 15px;
  border-radius: 8px;
  border-style: none;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-top: 15px;
  min-height: 140px;
}

.get-touch {
  display: flex;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #fff;
  min-width: 140px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}
